<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <label>Enter Username: </label>
      <input class="form-control" type="text" [(ngModel)]="username">
      <p>{{ username }}</p>
      <button class="btn btn-info" (click)="resetUsername()" [disabled]="username === ''">Reset</button>
    </div>
  </div>
</div>

<hr>
<br>

<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->

<hr>


<button class="btn btn-primary"
      [disabled]="!allowNewServer"
      (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="!allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Serve was created. Server name: {{ serverName }}</p>

<app-server *ngFor="let server of servers"></app-server>



<hr>

<div class="row col-sm-10">
  <button class="btn btn-success col-sm-2" (click)="success()">Success!</button>
  <button class="btn btn-danger col-sm-2 col-sm-offset-1" (click)="fail()">Fail!</button>
</div>


<div class="row">
  <success-warning-alerts class="col-sm-12" [TrueOrFalse]="TrueOrFalse"></success-warning-alerts>
</div>

